<div class="container-fluid">
  <div class="page-header">
    <h1>
      <img src="images/glasses.png" alt=""> Reviews</h1>
  </div>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>SerialNumber</th>
        <th>Investigation Title</th>
        <th>Rating</th>
        <th>Rating Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $ctrl.reviews track by $index">
        <td class="review-item">{{item.investigationId.serialNumber}}</td>
        <td class="review-item">{{item.investigationId.labTitle}}</td>
        <td class="review-item">{{item.value}}</td>
        <td class="review-item">{{item.createdAt | date:'medium'}}</td>
        <td>
          <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.remove(item)" aria-label="Left Align">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="height:100px"></div>
</div>
