<div class="container" ng-controller="SignInCtrl">
   <div class="row">
      <div class="col-md-6 col-md-offset-3 well">
         <h1 class="text-center">Sign In</h1>
         <img src="images/asell-schools-button.jpg" class="center-block" width="140px" height="80px" alt="">
         <br>
         <form name="sign">
            <div class="form-horizontal">
               <div class="form-group" ng-class="{'has-error': sign.email.$invalid}">
                  <label class="col-sm-4 control-label">Email</label>
                  <div class="btn-group col-sm-8">
                     <input name="email" type="email" ng-model="email"  class="form-control" required>
                  </div>
               </div>
               <div class="form-group" ng-class="{'has-error': sign.password.$invalid}">
                  <label class="col-sm-4 control-label">Password</label>
                  <div class="btn-group col-sm-8">
                     <input name="password" type="text" ng-model="password"  class="form-control"  required>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                     <button class="btn btn-default" ng-click="signIn()">Sign in</button>
                     <a class="btn pull-right" ui-sref="reset" ui-sref-active="active">Reset Password</a>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>