<div class="container" ng-controller="SignUpCtrl">
   <div class="row">

      <div class="col-md-6 col-md-offset-3 well">
         <h1 class="text-center">Sign Up</h1>
         <img src="images/asell-schools-button.jpg" class="center-block" width="140px" height="80px" alt="">
         <br>
         <form name="signup">
            <div class="form-horizontal">
               <div class="form-group" ng-class="{'has-success': signup.email.$invalid}">
                  <label class="col-sm-4 control-label">Email</label>
                  <div class="btn-group col-sm-8">
                     <input name="email" type="email" ng-model="email"  class="form-control"  required>
                  </div>
               </div>
               <div class="form-group" ng-class="{'has-success': signup.password.$invalid}">
                  <label class="col-sm-4 control-label">Password</label>
                  <div class="btn-group col-sm-8">
                     <input name="password" type="text" ng-model="password"  class="form-control"  required>
                  </div>
               </div>
               <div class="form-group" ng-class="{'has-success': signup.repassword.$invalid}">
                  <label class="col-sm-4 control-label">RePassword</label>
                  <div class="btn-group col-sm-8">
                     <input name="repassword" type="text" ng-model="repassword"  class="form-control"  required>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-8">
                     <button class="btn btn-default" ng-click="signUp()">Sign up</button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>