/*quick-design module*/
.qd{
  list-style: none;
  padding-left: 0px;
  min-height: 10px;
}

.qd li{
  /*padding:0px;*/
  padding-bottom: 10px
}

.qd-block{
  width: 260px;
  height: 84px;
  background-color: cornflowerblue;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
}

.qd-block span{
  padding-left: 20px;
}

.qd-widget {
  float: right;
  background-color: cornflowerblue;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.on-drag-enter{
  background-color : #aaaaaa;
}