/*quick-design module*/
.qd{
  list-style: none;
  padding-left: 0px;
  min-height: 180px;
}

.qd li{
  /*padding:0px;*/
  padding-bottom: 10px
}

.qd-block{
  width: 230px;
  height: 84px;
  background-color: #098DB7;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
}

.qd-widget {
  float: right;
  background-color: #098DB7;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.on-drag-enter{
  background-color : #aaaaaa;
}

.avatar{
  width: 250px;
  height: 250px;
}

.brand-icon{
  width: 24px;
  height: 30px;
  padding-bottom: 6px;
}

.download-logo{
  width: 300px;
  height: 100px;
}

.endorse-logo{
  width: 150px;
  height: 150px;
  position: absolute;
  right: 50px;
}

.green{
  /* color: #e93187 */
  /* color: #0ea800 */
  color: #43ac6a
}

