<uib-accordion close-others="false">
  <div uib-accordion-group class="panel-default" template-url="components/investigations/investigations-panel.template.html"
    heading="#{{item.serialNumber}} {{item.labTitle}} - by {{item.createdBy.name}}" is-open="true" ng-repeat="item in $ctrl.currentList track by $index">
    <img class="endorse-logo" src="/images/endorse.png">
    <div>
      <strong>Description</strong>
      <br>
      <span class="green">{{item.description}}</span>
    </div>
    <br/>
    <div class="row">
      <div class="col-sm-4">
        <div>
          <strong>Created by</strong>
          <br>
          <span class="red">{{item.createdBy.email}}</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <strong>Last updated</strong>
          <br>
          <span class="cyan">{{item.lastUpdatedAt | date:'medium'}}</span>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <strong>Created on</strong>
          <br>
          <span class="cyan">{{item.createdAt | date:'medium'}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <strong>Reviews</strong>
        <p><span class="orange" enable-reset="false" uib-rating ng-model="item.avgRating" max="5" read-only="!$ctrl.isRatable" titles="['1 star', '2 stars', '3 stars', '4 stars', '5 stars']" ng-click="$ctrl.rate(item)"></span>
        <span>({{item.ratingCount}})</span>
        </p>
      </div>
      <div class="col-sm-4">
        <button type="button" class="pull-right btn btn-default btn-sm" ng-show="$ctrl.isolated" ng-click="$ctrl.remove(item)" aria-label="Left Align">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        <button type="button" class="pull-right btn btn-default btn-sm" ng-show="true" ng-click="$ctrl.copy(item)" aria-label="Left Align">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
        <button type="button" class="pull-right btn btn-default btn-sm" ng-show="$ctrl.isolated" ng-click="$ctrl.edit(item)" aria-label="Left Align">
          <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        </button>
        <button type="button" class="pull-right btn btn-default btn-sm" ng-click="$ctrl.popDetail(item)" aria-label="Left Align">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <ul uib-pagination total-items="$ctrl.totalItems" ng-model="$ctrl.currentPage" ng-change="$ctrl.pageChanged()" max-size="maxSize"
    class="pagination" boundary-link-numbers="true"></ul>
</uib-accordion>

