<div class="container-fluid">
    <div class="page-header">
        <h1>Design an Investigation in a Quick Way</h1>
    </div>

    <form name="design" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-horizontal well">
                    <div class="form-group" ng-class="{'has-error': design.title.$invalid}">
                        <label class="col-sm-4 control-label">Provide an Experiment Title</label>
                        <div class="btn-group col-sm-8">
                            <input name="title" type="text" ng-model="$ctrl.expTitle" placeholder="SensorTag Investigation" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Description</label>
                        <div class="btn-group col-sm-8">
                            <textarea class="form-control" ng-model="$ctrl.expDesc" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Publish</label>
                        <div class="btn-group col-sm-8">
                            <toggle ng-model="$ctrl.isPublished"></toggle>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Sampling Rate</label>
                        <div class="btn-group col-sm-8" uib-dropdown>
                            <button type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                        {{$ctrl.sampleRateStr}} <span class="caret"></span>
                                    </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                <li ng-click="$ctrl.setSampleRate(1, '1 sample per second')" role="menuitem"><a>1 sample per second</a></li>
                                <li ng-click="$ctrl.setSampleRate(2, '2 samples per second')" role="menuitem"><a>2 samples per second</a></li>
                                <li ng-click="$ctrl.setSampleRate(3, '3 samples per second')" role="menuitem"><a>3 samples per second</a></li>
                                <li ng-click="$ctrl.setSampleRate(4, '4 samples per second')" role="menuitem"><a>4 samples per second</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Allow Data Storage</label>
                        <div class="btn-group col-sm-8">
                            <toggle ng-model="$ctrl.allowDataStorage"></toggle>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Allow Video</label>
                        <div class="btn-group col-sm-8">
                            <toggle ng-model="$ctrl.allowVideo"></toggle>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Autostart Graphs</label>
                        <div class="btn-group col-sm-8">
                            <toggle ng-model="$ctrl.autoStartGraphs"></toggle>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="well">
                    <h2>Drag Block Here!</h2>
                    <ul class="row qd" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.quickDesignBlock">
                        <li class="col-sm-4 col-lg-6" ng-repeat="item in $ctrl.quickDesignBlock track by $index">
                            <div class="qd-block">
                                <img ng-src="{{item.url}}" width="80px" height="80px">
                                <span>{{item.name}}</span>
                                <button class="qd-widget" ng-click="$ctrl.returnBack(item)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                                <button class="qd-widget" ng-click="$ctrl.tune(item)" ng-show="item.tunable">
                                    <span class="glyphicon glyphicon-cog"></span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default" heading="Temperature">
                <ul class="row qd" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.TemperatureBlock">
                    <li class="col-sm-4 col-lg-3" ng-repeat="item in $ctrl.TemperatureBlock track by $index">
                        <div class="qd-block">
                            <img ng-src="{{item.url}}" width="80px" height="80px">
                            <span>{{item.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default" heading="Humidity">
                <ul class="row qd" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.HumidityBlock">
                    <li class="col-sm-4" ng-repeat="item in $ctrl.HumidityBlock track by $index">
                        <div class="qd-block">
                            <img ng-src="{{item.url}}" width="80px" height="80px">
                            <span>{{item.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default" heading="Barometer">
                <ul class="row qd" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.BarometerBlock">
                    <li class="col-sm-4" ng-repeat="item in $ctrl.BarometerBlock track by $index">
                        <div class="qd-block">
                            <img ng-src="{{item.url}}" width="80px" height="80px">
                            <span>{{item.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default" heading="Accelerometer">
                <ul class="row qd" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.AccelerometerBlock">
                    <li class="col-sm-4" ng-repeat="item in $ctrl.AccelerometerBlock track by $index">
                        <div class="qd-block">
                            <img ng-src="{{item.url}}" width="80px" height="80px">
                            <span>{{item.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default" heading="Gyroscope">
                <ul class="row qd" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.GyroscopeBlock">
                    <li class="col-sm-4" ng-repeat="item in $ctrl.GyroscopeBlock track by $index">
                        <div class="qd-block">
                            <img ng-src="{{item.url}}" width="80px" height="80px">
                            <span>{{item.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default" heading="Magnetometer">
                <ul class="row qd" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.MagnetometerBlock">
                    <li class="col-sm-4" ng-repeat="item in $ctrl.MagnetometerBlock track by $index">
                        <div class="qd-block">
                            <img ng-src="{{item.url}}" width="80px" height="80px">
                            <span>{{item.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div uib-accordion-group class="panel-default" heading="Luxometer">
                <ul class="row qd" ui-sortable="$ctrl.sortableOptions" ng-model="$ctrl.LuxometerBlock">
                    <li class="col-sm-4" ng-repeat="item in $ctrl.LuxometerBlock track by $index">
                        <div class="qd-block">
                            <img ng-src="{{item.url}}" width="80px" height="80px">
                            <span>{{item.name}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </uib-accordion>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.store()">Submit</button>
    </form>

</div>