<div class="container-fluid">
  <div class="well well-lg">
    <h2>
      Welcome to SnapLab Platform
    </h2>
    <p>This website is under building</p>
    <uib-progressbar class="progress-striped active" max="100" value="90">
      <i>90%</i>
    </uib-progressbar>
  </div>

  <div class="well well-lg">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Snaplabs is about to go online - 25/2/2018</h4>
        <p> xxxxxxx </p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Snaplabs is loading its extra features - 21/2/2018</h4>
        <p> xxxxxxx </p>
      </div>
    </div>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">Snaplabs is finishing stage 1 - 1/8/2017</h4>
        <p> xxxxxxx </p>
      </div>
    </div>
    <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Snaplabs is born - 1/4/2017</h4>
          <p> xxxxxxx </p>
        </div>
      </div>
  </div>

  <carousel></carousel>

  <div style="height:100px"></div>
</div>
